<section id="about">
    
    <div class="body px-5 mb-5">
        <div class="font-size-20 font-rubik text-center pb-2"><strong>Our Story</strong></div>
        <div>Mudi.com is an online shop in Dhaka, Bangladesh. We believe time is valuable to our fellow Dhaka residents, and that they should not have to waste hours in traffic, brave harsh weather and wait in line just to buy necessities like eggs!&nbsp; This is why we deliver every day needs to our customers’ door-steps across Dhaka.<br><br></div>
        <div>Mudi.com is a work in progress, and we hope to get better over time. We are firm believers in using technology and education to improve Bangladesh, and we will continue to invest all our effort in pushing the boundaries of technology.</div>
        <div>If you have ideas on how we can improve, we would love to hear from you. Please do email us at <strong>info@mudi.com</strong>.<br><br></div>
        <div>We deliver all kind of grocery items such as cooking items, beverage, bread & bakery, snacks, milk & dairy, beauty and body care, health care, home & cleaning items and daily needs to customer doors by ensuring quality, faster delivery and reasonable price. We are ready to manage customers’ hassle regarding daily, weekly and monthly grocery bazaar for Online Grocery Shopping with our own expertise to save their time, energy and money.<br><br></div>
    </div>
</section>