@model Mudi_Models.WebSiteDetail

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 bg-white">


        <div class="form-group row">
        </div>

        <h2>Edit About Us</h2>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-md-12">

                        <div class="md-form pt-2">

                            <textarea asp-for="AboutUs" type="text" id="message" name="message" rows="5" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                    <span asp-validation-for="AboutUs" class="text-danger"></span>

                </div>


                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <div class="container p-3 my-3">
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            </div>
                        </div>

                        <div class="col">
                            <div class="container p-3 my-3">
                                <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }



}
