@model Mudi_Models.ViewModels.OrderVM
<div class="text-center">

    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have recieved your inquiry and someone from our team will contact you shortly!</p>

    <img src="/images/patio.jpg" width="80%" />

</div>
<div>
    <br />
</div>
<div>
    <a asp-controller="Order" asp-action="IndexUser" class="btn btn-outline-info form-control btn-sm">Index User</a>
</div>

<div>
    
</div>

