@model Mudi_Models.OrderHeader
<div class="text-center">

    <h1 class="text-info">Your Order Has Been Placed</h1>

    <p>Dear @Model.FullName, your order has been placed.</p>

    <img src="/images/patio.jpg" width="80%" />

</div>
<div>
    <br />
</div>
<div>
    <a asp-controller="Order" asp-action="IndexUser" class="btn btn-outline-info form-control btn-sm">View Your Orders</a>
</div>

<div>
    
</div>

